/* veriical nav structure. Classes to be added and replace html elements */
body {
    font-family: 'ubuntu', sans-serif !important;
    color: white;
    weight: 300;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
    font-size: 20px;
}

#wrapper {
    padding: 0px 100px 0px 100px;
}


/* Social Bar (Header) */
#header-social-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 65px;
    margin-top: 30px;

}

.social-icons {
    padding: 0px 5px 0px 5px;
}

/* Right Side Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    position: fixed;
    right: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin-top: 25px;
}

.logo {
    margin-top: 0px;
}

.nav-item {
    display: block;
    font-family: 'ubuntu', sans-serif !important;
    weight: 300;
    font-size: 30px;
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    writing-mode: vertical-rl;
    padding: 27px 0px 27px 0px;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    background-color: gray;
}


/* Home Hero */
#hero {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 0px 0px;
    height: 900px;
}

.hero-content {
    display: flex;
    flex-direction: column;
}

#hero-img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    border: 3px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 75px;
    padding-left: 75px;
    margin: 0 auto;
}

.hr-left {
    width: 2%;
    margin-right: 10px;
    background-color: white;
    height: 1px;
}

.hr-right {
    width: 2%;
    margin-left: 10px;
    background-color: white;
    height: 1px;
}

#hero-heading-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: none;
    width: 100%;
}

#hero-heading {
    position: relative;
    font-size: 30px;
    z-index: 1;
    /* overflow: hidden; */
    text-align: center;
}

#address-bar {
    display: flex;
    align-self: flex-start;
    position: absolute;
    bottom: 0;
}

/* About Section */
#about-section {}


/* Services Section */

/* Work Section */
#work-list {
    list-style: none;
    font-size: 20px;
}